SECRET_KEY=django-insecure-plgVlGftWD7ZOs7rqkTrpLCaZFKj4OaJuVA9bzSDAKhkd4ppAGeo1JmXcZQQJQVcYu8
DEBUG=True

DB_NAME=edumanager_db
DB_USER=edumanager
DB_PASSWORD=edumanager_pass
DB_HOST=127.0.0.1
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=EduManager <no-reply@edumanager.local>
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
