{% extends 'base.html' %}
{% block title %}Thêm Học Sinh{% endblock %}
{% block header %}Tạo tài khoản học viên mới{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm p-4">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Lưu học sinh</button>
                    <a href="{% url 'student_list' %}" class="btn btn-light">Hủy</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}