{% extends 'base.html' %}
{% block title %}Add Student{% endblock %}
{% block header %}Create new student account{% endblock %}
{% block content %}
<gov class="row justify-content-center">
    <gov class="col-md-6">
        <gov class="card shadow-sm p-4">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <gov class="mt-4">
                    <button type="submit" class="btn btn-primary">Save students</button>
                    <a href="{% url 'student_list' %}" class="btn btn-light">Cancel</a>
                </gov>
            </form>
        </gov>
    </gov>
</gov>
{% endblock %}