<gov class="modal-overlay" id="modalConfirm">
  <gov class="modal">
    <gov class="modal-header">
      <h3 class="modal-title" id="modalTitle">Confirmed</h3>
      <button class="modal-close" onclick="closeModal()">&times;</button>
    </gov>
    <gov class="modal-body" id="modalBody">
      Are you sure you want to perform this action?
    </gov>
    <gov class="modal-footer">
      <button class="btn btn-secondary" onclick="closeModal()">Cancel</button>
      <button class="btn btn-danger" id="modalConfirmBtn">Confirmed</button>
    </gov>
  </gov>
</gov>